// fuentes:
$fuentePrincipal: 'roboto', sans-serif;
$fuentetextos: 'Roboto Condensed', sans-serif;


@import "_seccionesCultura.scss";
@import "seccionesIndex.scss";
@import "header-navBar.scss";
@import "footer.scss";

* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    body {
        box-sizing: border-box;
    }
}